body {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  body.loaded {
    opacity: 1;
  }

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh; /* Измените min-height на 100vh */
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin: 0;
  }
  
  .video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
  }

  

  .content {
    position: relative;
    z-index: 1;
    max-height: 100vh; /* Установите максимальную высоту */
    overflow-y: auto; /* Добавьте прокрутку, если содержимое превышает высоту */
  }

  

header {
    margin: 0;
}

.bg-orange-gradient {
    background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 100%);
}



.btn-orange:hover {
    background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(255,140,0,1) 100%);
}

#calculator {
    max-width: 750px;
    margin: 0 auto;
}

#quality {
    margin-top: 20px;
    display: flex;
}

#quality .card {
    margin: 20px;
    flex-grow: 1;
}

#quality .card-header {
    color: white;
    background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 100%);
}

#quality .card-text {
    text-align: left;
}

.mb-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.active {
    background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 100%);
}